psycopg2-binary
rich
sqlalchemy
requests
fuzzywuzzy
python-levenshtein
transformers
scikit-learn
torch
pandas
python-dotenv
wandb
accelerate
keybert
openpyxl
sentencepiece
art
flask
flask_restful
flask_cors
flasgger